.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
}

/* Navbar */

.header {
  background-color: #f0f0f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1em;
}

.logo img {
  height: 3rem;
}

.nav__links {
  position: fixed;
  inset: 0;
  height: 100vh;
  background-color: #f0f0f0;
  z-index: 100;
  top: -100%;
  text-align: center;
  transition: top 0.6s ease-in-out;
}

.nav__links a {
  margin-block: 5em;
}

.nav__links a.active {
  text-decoration: underline;
  text-decoration-color: #ff6c00;
  text-decoration-thickness: 3px;
}

@media (min-width: 600px) {
  .nav__links {
    position: static;
    inset: none;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .nav__links ul {
    display: flex;
    gap: 2em;
  }

  .nav__links a {
    margin: 0;
  }

  .nav__links a.active {
    text-underline-offset: 0.4em;
  }
}

.nav__links.is-active {
  top: 5rem;
}

.nav__contact {
  display: none;
}

.menu {
  display: grid;
  place-items: center;
}

.menu i {
  font-size: 2rem;
}

@media (min-width: 600px) {
  .menu {
    display: none;
  }
}

@media (min-width: 800px) {
  .nav__contact {
    display: inline-block;
    font-size: 0.8rem;
  }

  .nav__contact a:nth-child(1) {
    color: #d70000;
  }
}

/* Slider  */

.main-slider .swiper {
  max-width: 100%;
  height: 60vh;
}

.main-slider .swiper-slide {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 700;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/img/slide1.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  gap: 1em;
  text-transform: uppercase;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.main-slider .swiper-slide p {
  font-size: 1rem;
  font-weight: 400;
  background-color: #ff6c00;
  padding: 0.4em 1em;
}

.main-slider .swiper-slide a {
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #d70000;
  padding: 0.4em 1em;
  border-radius: 2em;
}

@media (min-width: 750px) {
  .main-slider .swiper-slide {
    font-size: 3.5rem;
    gap: 0.6em;
  }

  .main-slider .swiper-slide p {
    font-size: 1.125rem;
  }

  .main-slider .swiper-slide a {
    font-size: 0.8rem;
    padding: 0.6em 1.2em;
  }
}

.main-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-slider .swiper {
  margin-left: auto;
  margin-right: auto;
}

/* Servicios */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  margin-block: 4em;
  gap: 2em;
  place-items: center;
}

.servicios h2 {
  text-align: center;
  font-size: 1.875rem;
  margin-top: 2em;
  text-transform: uppercase;
  font-weight: 600;
}

.card {
  position: relative;
  width: 275px;
  height: 275px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: linear-gradient(rgba(20, 86, 165, 0.9), rgba(20, 86, 165, 0.9)),
    url('../assets/img/slide1.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 1em;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4rem;
  text-align: center;
}

.card .front p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
}

.card .back {
  transform: perspective(600px) rotateY(-180deg);
  background: rgba(20, 86, 165, 0.99);
  padding: 1em;
  gap: 0.2em;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4rem;
  text-align: center;
}

.card .back p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
}

.link a {
  font-size: 0.875rem;
  border-bottom: 1px solid #fff;
}

.card:hover .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(-360deg);
}

/* Nosotros */

.nosotros {
  margin-bottom: 2em;
}

.nosotros h2 {
  font-size: 1.875rem;
  margin-block: 1em;
}

.slider-nosotros .swiper {
  width: 100%;
  height: 100%;
}

.slider-nosotros .swiper-slide {
  font-size: 1rem;
  color: black;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  line-height: 1.6;
  margin-bottom: 1em;
  font-weight: 400;
}

.nosotros__titulo {
  display: flex;
  justify-content: baseline;
  width: 100%;
  align-items: center;
  gap: 1em;
  letter-spacing: 1px;
}

.nosotros__titulo i {
  font-size: 4.125rem;
}

@media only screen and (min-width: 800px) {
  .nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .nosotros img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider-nosotros {
    width: 30rem;
    height: 50%;
    margin-left: 2em;
  }

  .slider-nosotros h2 {
    margin-block: 1.5em;
  }
}

/* Footer */

.footer-bg {
  background-color: #111;
  padding-block: 1em;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 1em;
  color: #f0f0f0;
}

.footer__servicios h2 {
  font-size: 1.4rem;
  margin-bottom: 0.6em;
}
.footer__contacto h2 {
  font-size: 1.4rem;
  margin-block: 0.6em;
  margin-top: 0.8em;
}

.footer__contacto i {
  font-size: 1.8rem;
  padding-inline-end: 0.6em;
  margin-top: 0.6em;
}

.footer-bg p {
  text-align: center;
  color: #f0f0f0;
  margin-top: 2em;
  font-size: 0.8rem;
}

@media (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__contacto h2 {
    margin-top: 0;
  }
}
